<!doctype html>
<html lang = "en">
<head>
<meta charset = "UTF-8">	
<meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src= "https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Sneha</title>
</head>
<body>
    <main>
    <article>
    <nav style="width: 1500px">
        <ul><li><a class="name">sneha</a></li>
            <li><a class="active" href="/index">Home</a></li>
            <li><a  href="/game">game</a></li>
            <li><a  href="/contact">contact</a></li>
           
          </ul>
        </nav>
        <header><h1> 07 SnehaMadhavaram </h1> </header>
        </article>
      </main>