body{
        background:url("pexels.jpeg");
        background-repeat:no-repeat;
        background-size:1500px 1500px;
        
    }
header{
    color:blueviolet;
    text-align:center;
}
form{
    text-align: center;
}
li {
    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}